---
import Layout from "../layouts/Layout.astro";
import BannerSvg from "../components/BannerSvg.astro";
import Card from "../components/Card.astro";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
---

<Layout title="博客">
  <main>
    <BannerSvg show={true} />
    <h1>
      <span class="text-gradient">Blog</span>
    </h1>
    <Navigation />
    <!-- <p class="instructions">
      页面路径是
      <code>src/pages/blog.astro</code>
      <br />
      <strong>strong标签:</strong>作为标题加粗
    </p> -->
    <ul role="list" class="link-card-grid">
      <Card title="文章1" href="/posts/post-1" />
      <Card title="文章2" href="/posts/post-2" />
      <Card title="文章3" href="/posts/post-3" />
    </ul>
    <Footer />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
</style>
